#App-Container {
    background-color: #206058;
    color: #F8F8F8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

#Card-Main {
    background-color: #0d2623;
    color: #F8F8F8;
    border-radius: 10px;
}