#App-Container {
    background-color: #206058;
    color: #F8F8F8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

#Card-Main {
    background-color: #0d2623;
    color: #F8F8F8;
    border-radius: 10px;
}

.Calc-Grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#clear {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: #980000;
    border-color: #980000;
}

#clear:hover {
    background-color: #B80000;
}

.Calc-Grid .theme-button {
    border-radius: 50%;
    background: #206058;
    border-color: #206058;
    color: #F8F8F8;
}

.Calc-Grid .Calc-Btn {
    background-color: #33998d;
    border-color: #33998d;
    border-radius: 50%;
}

.Calc-Grid .Calc-Btn:hover {
    border-color: #33998d;
    background-color: #0d2623;
}

.Calc-Grid .theme-button:hover {
    border-color: #206058;
    background-color: #0d2623;
}